
@{
    ViewBag.Title = "Import CSV";
}
<div class="container">
    <h2>Importing List of Air Conditioned Public Places and Cooling Centres from <a href="http://app.toronto.ca/opendata/ac_locations/locations.csv?v=1.00">Open Data Toronto</a></h2>
    <h3>@ViewBag.Message</h3>

</div>