
@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>About</h2>
    <p>This is a small application that displays air conditioned public places and cooling centres in Toronto. Its data is pulled from Open Data Toronto.</p>
</div>