<div id="map"></div>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbY2q45aZxAJApBFC4vtels--H-1bGEQw"></script>
    <script>
        //global markers array
        var map;
        var markers = [];

        $(document).ready(function () {
            $('#map').css('height', $(window).height() - 50);

            $(window).resize(function () {
                $('#map').css('height', $(window).height() - 50);
            });

            //use default location: toronto
            var position = {
                lat: 43.652612,
                lng: -79.392484
            };

            //function initMap () {
                //setup default map
                load_map(position);

                //centre of user's location
                initiate_geolocation();

            //}
        });

        function load_map(position) {
            mapOptions = {
                center: new google.maps.LatLng(position.lat, position.lng),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false
            };

            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            get_locations();

        }

        // Get the end-user's geolocation (new HTML5 feature)
        function initiate_geolocation() {
            navigator.geolocation.getCurrentPosition(handle_geolocation_query);
        }

        function handle_geolocation_query(position) {
            //alert(position.coords.latitude + ' ' + position.coords.longitude);
            var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(center);

        }

        // AJAX request to our web api
        function get_locations() {

            $.get(location.protocol + '//' + location.host + '/api/locations', function (data, status) {
                console.log(data);
            });
        }

        //add marker
        function add_marker(geocode, info) {

            var markerOptions = {
                position: new google.maps.LatLng(geocode.lat, geocode.lng),
                map: map
            }

            var marker = new google.maps.Marker(markerOptions);

            //---------------------- TODO: STYLE THE INFOWINDOW -----------------------------
            var contentString = "<div><h5>" + info.bands.join(', ') + "</h5><p>" + info.date + " <br /> " + info.venue + "</p></div>";

            var infoWindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 250
            });

            markers.push(marker);

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });

            google.maps.event.addListener(map, 'click', function () {
                infoWindow.close();
            });
        }

        function clear_markers() {
            if (typeof markers !== 'undefined' && markers.length > 0) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                    markers = [];
                }
            }

        }
    </script>
}